<div class="container bg-blue">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="nav-link px-2 link-dark">Home</a></li>
        <li><a routerLink="contact" class="nav-link px-2 link-dark">Contact</a></li>
        <li><a routerLink="products" class="nav-link px-2 link-dark">Products</a></li>
        <li><a routerLink="add-products" class="nav-link px-2 link-dark">Add Products</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a routerLink="users"><button type="button" class="btn btn-outline-primary me-2">Sign-in</button></a>
        <a routerLink="users/signup"><button type="button" class="btn btn-primary">Sign-up</button></a>
        &nbsp;
        <a routerLink="cart"><button type="button" class="btn btn-primary">cart</button></a>
      </div>
    </header>
  </div>
